<!DOCTYPE HTML>

<head>
    <title>{% block title %}{% endblock title%}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--mobile specific meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="http://catto5k.com/static/skeleton/base.css" />
    <link rel="stylesheet" href="http://catto5k.com/static/skeleton/skeleton.css" />
    <link rel="stylesheet" href="http://catto5k.com/static/skeleton/layout.css" />
    {% block head %}
    {% endblock head %}
</head>


<body>
<div class="container">
    <h1>Template Rendering Experiments</h1>
    <hr />
    <div class="one-third column">
        <p>
            To the right you'll find a series of Mango.js examples.  The displayed text is as it appears
            when rendered by Django.
            <br><br>
            You can view the template source code for any example, or click the
            Render Template button to trigger real-time client-side rendering of the Django template.
        </p>
        <a href="https://github.com/arbuckle/mango">Mango.js on GitHub</a>
    </div>
    <div class="two-thirds column">
        {% block serverside %}

        {% endblock serverside%}
    </div>

</div>

<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{{ STATIC_URL }}mango.js"></script>
{% block foot %}
{% endblock foot %}
</body>
</html>
