{% extends "tests/home/templates/base.html" %}

{% block head %}
<style>
    .test {
        border-bottom: 1px solid rgb(221, 221, 221);
        margin-bottom: 30px;
        padding-bottom: 10px;
    }
    .server-test.source {overflow-x: scroll; border: 1px solid rgb(228, 228, 228);}

    .button {padding: 0px 10px; margin-bottom: 0;}

    .note {font-size: 0.8em; color: #bababa;}
</style>
{% endblock head %}

    {% block serverside %}
        <div id="HeaderWrap">
            <div class="test-wrap container">
                <div class="server-test one-third column">
                    These are server side rendered templates, using Django's built in tags and filters.
                </div>
                <div class="client-test one-third column">
                    These are client side rendered template, using a Django template language parser.
                </div>
            </div>
       </div>

        <div id="ServerWrap">
        	<hr>
            {% for include_path in includes %}
                <div class="test-wrap container">
                    {% include "tests/home/templates/includes/controls.html" %}
                    <div class="server-test one-third column">
                        {% include include_path.path %}
                    </div>
                    <div class="client-test one-third column"></div>
                </div>
            {% endfor %}

        </div>

    {% endblock serverside %}


    {% block foot %}
        {% include "tests/home/templates/mango_templates.html" %}
        <script>
            {% include "tests/home/templates/json/test_data.html" %}

            var $templates = $('script[type="text/template"]');

            $('#ServerWrap').on('click', '.source', function(event){
                var templateID = $(this).attr('data-target'),
                    templateHTML = document.getElementById(templateID).innerHTML,
                    $target = $(this).parent().siblings('.server-test'),
                    stash = $target.html();

                $target.toggleClass('source');
                if ($target[0].stash) {
                    $(this).html('View Source');
                    $target.html($target[0].stash);
                    $target[0].stash = undefined;
                } else {
                    $(this).html('View Output');
                    $target[0].stash = stash;
                    $target.html('<pre></pre>');
                    $target.find('pre').text(templateHTML);
                }


            }).on('click', '.render', function(event){
                var templateHTML = document.getElementById($(this).attr('data-target')).innerHTML,
                    template = mango.compile(templateHTML),
                    $target = $(this).parent().siblings('.client-test');
                $target.html(template(page_context));

                for (var i=0; i < $templates.length; i++) {
                    if ($templates[i].innerHTML === templateHTML) {
                        $templates[i].cache = template;
                        console.log('debug:\t$templates['+i+'].cache.source');
                    }
                }
            });

            /*
            $('.test-wrap').each(function(idx, val){
                var title = $(this).find('.server-test h5').html(),
                    server = $(this).find('.server-test').html().trim(),
                    client = $(this).find('.client-test').html().trim(),
                    result = (server === client) ? 'pass' : 'fail';
                console.log(result, title);
            });
            */
        </script>
    {% endblock foot %}
