{% extends "mango/home/templates/base.html" %}
{% load insecure %}

    {% block serverside %}
        <div id="ServerWrap">
        	This is a server side rendered template, using Django's built in tags and filters.
        	<hr>
        	
        	<h5>Simple Variable Usage</h5>
			This is an example of simple variable replacement.<br>
			{{ numerator }} / {{ denominator }} = {{ fraction }}
			<hr>

        	<h5>Variable with Template Filter</h5>
			This is an example of simple variable replacement when a template filter is present.<br>
			{{ phrase|upper }}<br>
			{{ phrase|upper|truncatechars:12 }}
			<hr>

        	<h5>Variable with Template Filter</h5>
			This is an example of escaping behavior.<br>
			{{ script_injection }}<br>
			{{ script_injection|safe }}<br>
			<hr>

        	<h5>Basic Conditional Use</h5>
			This is an example of a simple conditional statement.<br>
				
			{% if 1 == 1 %}
				Yes! One equals one!<br>
			{% endif %}

			{% if 1 == 1 and 2 == 1 %}
				Wrong!
			{% else %}
				One does NOT equal two<br>
			{% endif %}	
			
			{% if not True %}
				Statement is True
			{% else %}
				Statement is False
			{% endif%}			
			<hr>


            <h5>Loop with nested condition, nested loop.</h5>
            {% include "mango/home/templates/includes/django.html" %}

        </div>

    {% endblock serverside %}


    {% block clientside %}
        <div id="DjangoClientWrap">
            This is a client side rendered template, using a Django template language parser.
            <hr>
        </div>
        
        <script type="text/template" id="simple-variable-usage">
        	<h5>Simple Variable Usage</h5>
        	{% verbatim %}
        		This is an example of simple variable replacement.<br>
        		{{ numerator }} / {{ denominator }} = {{ fraction }}
        		<hr>
        	{% endverbatim %}
        </script>

        <script type="text/template" id="variable-with-template-filter">
        	<h5>Variable with Template Filter</h5>
        	{% verbatim %}
        		This is an example of simple variable replacement when a template filter is present.<br>
        		
        		{{ phrase|upper }}<br>
        		{{ phrase|upper|truncatechars:12 }}<br>
        		<hr>
        	{% endverbatim %}
        </script>

		<script type="text/template" id="script-injection">
        	<h5>Variable with Template Filter</h5>
        	{% verbatim %}
				This is an example of escaping behavior.<br>
				
				{{ script_injection }}<br>
				{{ script_injection|safe }}<br>
				<hr>
			{% endverbatim %}
		</script>
		
		<script type="text/template" id="basic-conditional">
        	<h5>Basic Conditional Use</h5>
        	{% verbatim %}
				This is an example of a simple conditional statement.<br>
				
				{% if 1==1 %}
					Yes! One equals one!<br>
				{%else%}
					Wrong!<br>
				{% endif %}
				
				{% if 1 == 1 and 2 == 1 %}
					Wrong!<br>
				{% else %}
					One does NOT equal two<br>
				{% endif %}		
				
				{% if not True %}
					Statement is True<br>
				{% else %}
					Statement is False<br>
				{% endif%}						
				<hr>
			{% endverbatim %}
		</script>
		
        <script type="text/template" id="nested-conditions-and-loops">
            <h5>Loop with nested condition, nested loop.</h5>
            {% include_verbatim "mango/home/templates/includes/django.html" %}
        </script>

    {% endblock clientside %}



    {% block foot %}
        <script>
			var data = {
				"numerator": {{ numerator }},
				"denominator": {{ denominator }},
				"fraction": {{ fraction }},
				"phrase": "{{ phrase }}",
				"script_injection": "{{ script_injection_js|escapejs }}",
				"fruits": [{% for fruit in fruits %}"{{ fruit }}"{% if not forloop.last %},{% endif %}{% endfor %}],
				"plans": {
					{% for key, value in plans.items %}
						"{{ key }}":
						{% if key == "professional" %}
							[{% for item in value %}"{{ item }}"{% if not forloop.last %},{% endif %}{% endfor %}]
						{% else %}
							"{{ value }}"
						{% endif %}
						{% if not forloop.last %},{% endif %}
					{% endfor %}
				}
			};        
            var svu = mango.template($('#simple-variable-usage').html());
            $('#DjangoClientWrap').append(svu(data));
			
			var svu = mango.template($('#variable-with-template-filter').html());
			$('#DjangoClientWrap').append(svu(data));

			var svu = mango.template($('#script-injection').html());
			$('#DjangoClientWrap').append(svu(data));
			
			var svu = mango.template($('#basic-conditional').html());
			$('#DjangoClientWrap').append(svu(data));

            var svu = mango.template($('#nested-conditions-and-loops').html());
            $('#DjangoClientWrap').append(svu(data));

        console.log($('#nested-conditions-and-loops').html())
        </script>
    {% endblock foot %}