{% extends "mango/home/templates/base.html" %}
{% load insecure %}

{% block head %}
<style>
    .test {
        border-bottom: 1px solid rgb(221, 221, 221);
        margin-bottom: 30px;
        padding-bottom: 10px;
    }
</style>
{% endblock head %}

    {% block serverside %}
        <div id="ServerWrap">
        	These are server side rendered templates, using Django's built in tags and filters.
        	<hr>

            {% include "mango/home/templates/includes/var_simple.html" %}
            {% include "mango/home/templates/includes/var_filter.html" %}
            {% include "mango/home/templates/includes/var_safe.html" %}
            {% include "mango/home/templates/includes/conditions.html" %}
            {% include "mango/home/templates/includes/conditions_with_vars.html" %}
            {% include "mango/home/templates/includes/conditions_elif.html" %}
            {% include "mango/home/templates/includes/for_loop_array.html" %}
            {% include "mango/home/templates/includes/loop_conditions_nesting.html" %}
            {% include "mango/home/templates/includes/loop_nested_empty.html" %}
            {% include "mango/home/templates/includes/comment_tag.html" %}
            {% include "mango/home/templates/includes/cycle_tag.html" %}
            {% include "mango/home/templates/includes/cycle_tag.html" %}
            {% include "mango/home/templates/includes/assorted_filters.html" %}
        </div>

    {% endblock serverside %}


    {% block clientside %}
        <div id="DjangoClientWrap">
            These are client side rendered template, using a Django template language parser.
            <hr>
        </div>
        
        <script type="text/template" id="simple-variable-usage">
            {% include_verbatim "mango/home/templates/includes/var_simple.html" %}
        </script>

        <script type="text/template" id="variable-with-template-filter">
            {% include_verbatim "mango/home/templates/includes/var_filter.html" %}
        </script>

		<script type="text/template" id="script-injection">
            {% include_verbatim "mango/home/templates/includes/var_safe.html" %}
		</script>
		
		<script type="text/template" id="basic-conditional">
            {% include_verbatim "mango/home/templates/includes/conditions.html" %}
        </script>

        <script type="text/template" id="conditions_with_variables">
            {% include_verbatim "mango/home/templates/includes/conditions_with_vars.html" %}
        </script>

        <script type="text/template" id="conditions_elif">
            {% include_verbatim "mango/home/templates/includes/conditions_elif.html" %}
        </script>

        <script type="text/template" id="for_loop_array">
            {% include_verbatim "mango/home/templates/includes/for_loop_array.html" %}
        </script>

        <script type="text/template" id="nested-conditions-and-loops">
            {% include_verbatim "mango/home/templates/includes/loop_conditions_nesting.html" %}
        </script>

        <script type="text/template" id="loop-nested-inner-empty">
            {% include_verbatim "mango/home/templates/includes/loop_nested_empty.html" %}
        </script>

        <script type="text/template" id="comment_tag">
            {% include_verbatim "mango/home/templates/includes/comment_tag.html" %}
        </script>

        <script type="text/template" id="cycle_tag">
            {% include_verbatim "mango/home/templates/includes/cycle_tag.html" %}
        </script>

        <script type="text/template" id="assorted-filters">
            {% include_verbatim "mango/home/templates/includes/assorted_filters.html" %}
        </script>

    {% endblock clientside %}



    {% block foot %}
        <script>
            {% include "mango/home/templates/json/test_data.html" %}

            var svu = mango.template($('#simple-variable-usage').html());
            $('#DjangoClientWrap').append(svu(data));

			var vwtf = mango.template($('#variable-with-template-filter').html());
			$('#DjangoClientWrap').append(vwtf(data));

			var si = mango.template($('#script-injection').html());
			$('#DjangoClientWrap').append(si(data));

			var bc = mango.template($('#basic-conditional').html());
			$('#DjangoClientWrap').append(bc(data));

            var cwv = mango.template($('#conditions_with_variables').html());
            $('#DjangoClientWrap').append(cwv(data));

            var ce = mango.template($('#conditions_elif').html());
            $('#DjangoClientWrap').append(ce(data));

            var fla = mango.template($('#for_loop_array').html());
            $('#DjangoClientWrap').append(fla(data));

            var ncl = mango.template($('#nested-conditions-and-loops').html());
            $('#DjangoClientWrap').append(ncl(data));

            var lnie = mango.template($('#loop-nested-inner-empty').html());
            $('#DjangoClientWrap').append(lnie(data));

            var cmt = mango.template($('#comment_tag').html());
            $('#DjangoClientWrap').append(cmt(data));

            var ct = mango.template($('#cycle_tag').html());
            $('#DjangoClientWrap').append(ct(data));

            var ct2 = mango.template($('#cycle_tag').html());
            $('#DjangoClientWrap').append(ct2(data));

            var af = mango.template($('#assorted-filters').html());
            $('#DjangoClientWrap').append(af(data));



        </script>
    {% endblock foot %}
