{% extends "mango/home/templates/base.html" %}
{% load insecure %}

{% block head %}
<style>
    .test {
        border-bottom: 1px solid rgb(221, 221, 221);
        margin-bottom: 30px;
        padding-bottom: 10px;
    }
</style>
{% endblock head %}

    {% block serverside %}
        <div id="ServerWrap">
        	These are server side rendered templates, using Django's built in tags and filters.
        	<hr>
            {% include "mango/home/templates/includes/var_simple.html" %}
            {% include "mango/home/templates/includes/var_filter.html" %}
            {% include "mango/home/templates/includes/var_safe.html" %}
            {% include "mango/home/templates/includes/conditions.html" %}
            {% include "mango/home/templates/includes/conditions_with_vars.html" %}
            {% include "mango/home/templates/includes/loop_conditions_nesting.html" %}
        </div>

    {% endblock serverside %}


    {% block clientside %}
        <div id="DjangoClientWrap">
            These are client side rendered template, using a Django template language parser.
            <hr>
        </div>
        
        <script type="text/template" id="simple-variable-usage">
            {% include_verbatim "mango/home/templates/includes/var_simple.html" %}
        </script>

        <script type="text/template" id="variable-with-template-filter">
            {% include_verbatim "mango/home/templates/includes/var_filter.html" %}
        </script>

		<script type="text/template" id="script-injection">
            {% include_verbatim "mango/home/templates/includes/var_safe.html" %}
		</script>
		
		<script type="text/template" id="basic-conditional">
            {% include_verbatim "mango/home/templates/includes/conditions.html" %}
        </script>

        <script type="text/template" id="conditions_with_variables">
            {% include_verbatim "mango/home/templates/includes/conditions_with_vars.html" %}
        </script>

        <script type="text/template" id="nested-conditions-and-loops">
            {#  include_verbatim "mango/home/templates/includes/loop_conditions_nesting.html" #}
        </script>
    {% endblock clientside %}



    {% block foot %}
        <script>
            {% include "mango/home/templates/json/test_data.html" %}

            var svu = mango.template($('#simple-variable-usage').html());
            $('#DjangoClientWrap').append(svu(data));

			var svu = mango.template($('#variable-with-template-filter').html());
			$('#DjangoClientWrap').append(svu(data));

			var svu = mango.template($('#script-injection').html());
			$('#DjangoClientWrap').append(svu(data));
			
			var svu = mango.template($('#basic-conditional').html());
			$('#DjangoClientWrap').append(svu(data));

            var svu = mango.template($('#conditions_with_variables').html());
            $('#DjangoClientWrap').append(svu(data));



            //var svu = mango.template($('#nested-conditions-and-loops').html());
            //$('#DjangoClientWrap').append(svu(data));

        </script>
    {% endblock foot %}
