<div class="test">
    <h5>Date Filter.</h5>
    a: {{ birthday|date:"a" }} - <span class="note">'a.m.' or 'p.m.' (Note that this is slightly different than PHP's output, because this includes periods to match Associated Press style.)</span><br>
    A: {{ birthday|date:"A" }} - <span class="note">'AM' or 'PM'.</span><br>
    b: {{ birthday|date:"b" }} - <span class="note">Month, textual, 3 letters, lowercase.</span><br>
    {# B: {{ birthday|date:"B" }} - <span class="note">Not implemented.</span><br> #}
    c: {{ birthday|date:"c" }} - <span class="note">ISO 8601 format. (Note: unlike others formatters, such as "Z", "O" or "r", the "c" formatter will not add timezone offset if value is a naive datetime (see datetime.tzinfo).</span><br>
    d: {{ birthday|date:"d" }} - <span class="note">Day of the month, 2 digits with leading zeros.</span><br>
    D: {{ birthday|date:"D" }} - <span class="note">Day of the week, textual, 3 letters.</span><br>
    e: {{ birthday|date:"e" }} - <span class="note">Timezone name. Could be in any format, or might return an empty string, depending on the datetime.</span><br>
    E: {{ birthday|date:"E" }} - <span class="note">Month, locale specific alternative representation usually used for long date representation.</span><br>
    f: {{ birthday|date:"f" }} - <span class="note">Time, in 12-hour hours and minutes, with minutes left off if they're zero. Proprietary extension.</span><br>
    F: {{ birthday|date:"F" }} - <span class="note">Month, textual, long.</span><br>
    g: {{ birthday|date:"g" }} - <span class="note">Hour, 12-hour format without leading zeros.</span><br>
    G: {{ birthday|date:"G" }} - <span class="note">Hour, 24-hour format without leading zeros.</span><br>
    h: {{ birthday|date:"h" }} - <span class="note">Hour, 12-hour format.</span><br>
    H: {{ birthday|date:"H" }} - <span class="note">Hour, 24-hour format.</span><br>
    i: {{ birthday|date:"i" }} - <span class="note">Minutes.</span><br>
    I: {{ birthday|date:"I" }} - <span class="note">Daylight Savings Time, whether it's in effect or not.</span><br>
    j: {{ birthday|date:"j" }} - <span class="note">Day of the month without leading zeros.</span><br>
    l: {{ birthday|date:"l" }} - <span class="note">Day of the week, textual, long.</span><br>
    L: {{ birthday|date:"L" }} - <span class="note">Boolean for whether it's a leap year.</span><br>
    m: {{ birthday|date:"m" }} - <span class="note">Month, 2 digits with leading zeros.</span><br>
    M: {{ birthday|date:"M" }} - <span class="note">Month, textual, 3 letters.</span><br>
    n: {{ birthday|date:"n" }} - <span class="note">Month without leading zeros.</span><br>
    N: {{ birthday|date:"N" }} - <span class="note">Month abbreviation in Associated Press style. Proprietary extension.</span><br>
    o: {{ birthday|date:"o" }} - <span class="note">ISO-8601 week-numbering year, corresponding to the ISO-8601 week number (W)</span><br>
    O: {{ birthday|date:"O" }} - <span class="note">Difference to Greenwich time in hours.</span><br>
    P: {{ birthday|date:"P" }} - <span class="note">Time, in 12-hour hours, minutes and 'a.m.'/'p.m.', with minutes left off if they're zero and the special-case strings 'midnight' and 'noon' if appropriate. Proprietary extension.</span><br>
    r: {{ birthday|date:"r" }} - <span class="note">RFC 2822 formatted date.</span><br>
    s: {{ birthday|date:"s" }} - <span class="note">Seconds, 2 digits with leading zeros.</span><br>
    S: {{ birthday|date:"S" }} - <span class="note">English ordinal suffix for day of the month, 2 characters.</span><br>
    t: {{ birthday|date:"t" }} - <span class="note">Number of days in the given month.</span><br>
    T: {{ birthday|date:"T" }} - <span class="note">Time zone of this machine.</span><br>
    u: {{ birthday|date:"u" }} - <span class="note">Microseconds.</span><br>
    U: {{ birthday|date:"U" }} - <span class="note">Seconds since the Unix Epoch (January 1 1970 00:00:00 UTC).</span><br>
    w: {{ birthday|date:"w" }} - <span class="note">Day of the week, digits without leading zeros.</span><br>
    {#  W: {{ birthday|date:"W" }} - <span class="note">ISO-8601 week number of year, with weeks starting on Monday.</span><br> #}
    y: {{ birthday|date:"y" }} - <span class="note">Year, 2 digits.</span><br>
    Y: {{ birthday|date:"Y" }} - <span class="note">Year, 4 digits.</span><br>
    z: {{ birthday|date:"z" }} - <span class="note">Day of the year.</span><br>
    Z: {{ birthday|date:"Z" }} - <span class="note">Time zone offset in seconds. The offset for timezones west of UTC is always negative, and for those east of UTC is always positive.</span><br>
</div>
