<div class="test">
    <h5>Firstof Tag.</h5>
    {% firstof  "" "Second item." "heh" %}<br>
    {% firstof '' 'Second item with an escaped "\'".' 'heh' %}<br>
    {% firstof 'First item; Second item None' None %}<br>
    {% firstof None 'Second item; First item None' None %}<br>
    {% firstof  false_dict false true %}<br>
    {% firstof  False False True %}<br>
    {% firstof  0 0 1 %}<br>
    {% firstof  0 0 script_injection %}<br>
    {% firstof  '' '\n' 'heh' %}<br>
    {% firstof  '' newline 'heh' %}<br>
    {% firstof  '' '' 'heh' %}<br>
    {% firstof  is_cool has_coin empty_list empty_dict name %}<br>
</div>
