<div class="test">
    <h5>FirstOf Tag with Filters.</h5>
    {% firstof 'that"s <strong>what</strong> she said!' %}<br>

    {% filter upper %}
        {% firstof '' 'well that\'s crasy' 'heh' %}<br>
        {% firstof 'that"s <strong>what</strong> she said!' %}<br>
        {% firstof  False False True %}<br>
        {% firstof  is_cool has_coin empty_list empty_dict name %}<br>
    {% endfilter %}
    {% filter upper|slugify %}
        {% firstof '' 'well that\'s crasy' 'heh' %}<br>
        {% firstof 'that"s what she said!' %}<br>
        {% firstof  False False True %}<br>
        {% firstof  is_cool has_coin empty_list empty_dict name %}<br>
    {% endfilter %}<br>
    {% firstof '' 'well that\'s crasy'|upper 'heh' %}<br>
    {% firstof 'that"s what she said!'|upper %}<br>
    {% firstof  False False True|upper%}<br>
    {% firstof  is_cool has_coin empty_list empty_dict name|upper %}<br>
</div>
