<div class="test">
    <h5>Firstof Tag.</h5>
    {% firstof  "" "well ok then" "heh" %}<br>
    {% firstof '' 'well that\'s crasy' 'heh' %}<br>
    {% firstof "that's what she said!" %}<br>
    {% firstof 'that"s what she said!' %}<br>
    {% firstof 'that\'s what she said!' "that\"s what she said!" %}<br>
    {% firstof "that\"s what she said!" 'that\'s what she said!' %}<br>
    {% firstof  false_dict false true %}<br>
    {% firstof  False False True %}<br>
    {% firstof  0 0 1 %}<br>
    {% firstof  0 0 script_injection %}<br>
    {% firstof  '' '\n' 'heh' %}<br>
    {% firstof  '' newline 'heh' %}<br>
    {% firstof  '' '' 'heh' %}<br>
    {% firstof  is_cool has_coin empty_list empty_dict name %}<br>
</div>
